<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game_page</title>
</head>
<body>
       <div  style="text-align:center">
    <h1>Find the matched person</h1>
           <h2>Welcome {{ nam }}</h2>
    <form method="GET">

        <a href="{{ url_for('game') }}">点击开始干游戏</a><br/>
{#           <img src= {{ nam }}+".jpg", alt= {{ nam }} ><br/>#}
{#        {% if  nam  == "kim" %}#}
{#        <a href="{{ url_for('judge_r') }}">kim</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">hwang</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">lee</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">ye</a>#}
{##}
{##}
{#        {% elif nam == "hwang" %}#}
{#        <a href="{{ url_for('judge_f') }}">kim</a><br/>#}
{#        <a href="{{ url_for('judge_r') }}">hwang</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">lee</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">ye</a>#}
{#        {% elif nam == "lee" %}#}
{#        <a href="{{ url_for('judge_f') }}">kim</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">hwang</a><br/>#}
{#        <a href="{{ url_for('judge_r') }}">lee</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">ye</a>#}
{#        {% elif nam == "ye" %}#}
{#        <a href="{{ url_for('judge_f') }}">kim</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">hwang</a><br/>#}
{#        <a href="{{ url_for('judge_f') }}">lee</a><br/>#}
{#        <a href="{{ url_for('judge_r') }}">ye</a>#}
{#        {% endif %}#}
    </form>
    </div>
</body>
</html>